<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestServiceUri" value="http://localhost:9001/CallSyncOpService/"/>
    <add key="TestServiceUriMex" value="http://localhost:9002/CallSyncOpServiceMex/"/>
    <!-- web proxy ignores localhost addresses, also iis express does not resolve loopback address so use the below -->
    <!-- http://stackoverflow.com/questions/4706468/using-fiddler-with-iis7-express -->
    <!-- http://msdn.microsoft.com/en-us/library/system.net.webproxy.bypassproxyonlocal%28v=vs.110%29.aspx -->
    <add key="TestServiceUriProxy" value="http://localhost.fiddler:42327/Drexyia.WebSvc.Process.Tests.Server.CallSyncOpService.svc"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
